@import url('https://fonts.googleapis.com/css2?family=Acme&family=Istok+Web:wght@700&family=Roboto:wght@300&family=Sunflower:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');
:root{
    --main-bg-color: #262727;
    --title: #1CC272;
  }

#datos{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 14rem;
    
    
}
#total{
    width: 28rem;
    height: 8rem;
    background: #222222;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.005),
    5px 5px 15px rgba(60, 60, 60, 0.1);
    margin-right: 2rem;
    border-radius: 1rem;
    
}

#estrellasT{
    width: 28rem;
    height: 8rem;
    background: #222222;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.005),
    5px 5px 15px rgba(60, 60, 60, 0.1);
    margin-right: 2rem;
    border-radius: 1rem;
}

#sesionesT{
    width: 28rem;
    height: 8rem;
    background: #222222;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.005),
    5px 5px 15px rgba(60, 60, 60, 0.1);
    border-radius: 1rem;
}

.totalE{
    margin: 1rem 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

.datoE{
   
    font-size: 1.5rem;
    text-align: center;
}
  .icono{
    transform: scale(1.2);
    /* border: 4px solid var(--main-bg-color); */
    border-radius: 50%;
    text-align: center;
    
}

.injectfirst{
    margin-left: 3rem;
}

#contenedor{
    display: flex;
    flex-direction: row;
}

/* #conten-estadisticas{
    align-items: center;
} */

#info1{

    width: 28rem;
    height: 24rem;
    text-align: center;
    background: #303030;
    box-shadow: -1.5px -1.5px 4px 0 rgba(99, 99, 99, 1),
    3px 3px 3px 0 rgba(0, 0, 0, 1);
    padding: 30px 20px 20px 40px;
    border-radius: 20px;
    margin-left: 2rem;
    margin-right:3rem;
    margin-bottom: 7rem;
    margin-top: 1.4rem;
}



.btn.btn-primary{
    margin-right: 1rem;
    margin-top: -3rem;
    
}

.btn.btn-primaryD{
    margin-left: 1rem;
    
    margin-top: -3rem;
    color: #fff;
}

#info1 h2{
    font-size: 20px;
}
#info1 p{
    font-size: 16px;
}

#infogeneral{
    margin-top: 1.2rem;
    width: 25rem;
    height: 24rem;
    margin-left: 2rem;
    background: #303030;
    box-shadow: -1.5px -1.5px 4px 0 rgba(99, 99, 99, 1),
    3px 3px 3px 0 rgba(0, 0, 0, 1);
    padding: 30px 20px 20px 40px;
    border-radius: 20px;
    /*z-index: -10;*/
}

#infogeneral h1{
    color: #000;
    text-align: center;
    font-size: 25px;
    margin-bottom: 1.6rem;
}

#infogeneral h2{
    color: #000;
}


#infogeneral h3{
    font-size: 18px;
    margin-top: 0.9rem;
    padding-left: 1rem;
}

.fas.fa-edit{
    height: 10rem;
}

.btn.btn-aTutor{
    height: 2.3rem;
    margin-left: 1rem;
    margin-top: -0.3rem;
}

.estadisticas{
   
    margin-left: 10rem;
    width: auto;
    height: 30rem;
    padding: 25px 30px 30px 50px;
    border-radius: 20px; 
    margin-bottom: 5rem;
    display: flex;
    
}

.estadisticas h1{

    text-align: justify;
    font-size: 30px;
    margin:  0 0  30px 0;
    color: white;
    font-weight: bold;
    
}

.estadisticas h2{
    font-size: 20px;
    margin: 10px 0;
}
#info1 h1{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
#info1 h3{
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: justify;
}
.barNotas{
    
    background: #303030;
    box-shadow: -1.5px -1.5px 4px 0 rgba(99, 99, 99, 1),
    3px 3px 3px 0 rgba(0, 0, 0, 1);
    
    border-radius: 20px;
    width: 35rem;
    height: 23rem;
    padding: 2rem;
    margin-top: 6rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-left:-13rem;
    color: white;
}

.pieAprobado{
    background: #303030;
    box-shadow: -1.5px -1.5px 4px 0 rgba(99, 99, 99, 1),
    3px 3px 3px 0 rgba(0, 0, 0, 1);
    border-radius: 20px;
    width: 20rem;
    height: 23rem;
    padding: 2rem;
    margin-top: 6rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    margin-left: 4rem;
    color: white;
    
}

.campo label{
    font-weight: 600;
    margin-top:0.2rem;
    margin-left: 1rem;
    font-size: 1.1rem;
    display: flex;
    color: #DFE0DF;
}

#descripcionText{
    width: 100%;
    height: 8rem;
    margin-left: -0.4rem;
    padding: 1.5rem;
    border-radius: .5rem;
    overflow: hidden;
    margin-bottom: 1.8rem;
    text-align: justify;
    background-color: rgba(43, 45, 47, 1);
    box-shadow: inset -4px -4px 6px 0 rgba(160, 160, 160, 0.13),
    inset 4px 4px 7px 0 rgba(0,0,0, 0.40),
    2px 2px 2px 0 rgba(160, 160, 160, 0.13),
    -1px -1px 2px 0 rgba(0,0,0, 0.40);
}

#titleText{
    margin-bottom: 1rem;
    margin-left: 1rem;
    width:60%;
    height: 1.7rem;
    background-color: rgba(43, 45, 47, 1);
    color: #DFE0DF;
    box-shadow: inset -4px -4px 6px 0 rgba(160, 160, 160, 0.13),
    inset 4px 4px 7px 0 rgba(0,0,0, 0.40),
    2px 2px 2px 0 rgba(160, 160, 160, 0.13),
    -1px -1px 2px 0 rgba(0,0,0, 0.40);
    border: none !important;

}

.tabla{
    margin-top:5rem;
    margin-left: -5rem;
    margin-right: 5rem;
    font-size: 1rem;
    background-color:white;
}
.but{
    margin-top:-5rem;
}
.container {
    padding: 5rem 0rem;
    font-size: 1rem;
}
.container h1{

    text-align: justify;
    font-size: 30px;
    margin:  0 0  30px 0;
    color: white;
    font-weight: bold;
    margin-left:-2rem;
}
.table-bordered{
    margin-top:2rem;
    margin-left: 2rem;
    margin-right: 5rem;
    background-color:white;
    text-align: center;
}
.btnGroup{
    background-color: rgb(52, 52, 199);
    width: 4.5rem;
    height: 1.8rem;
    margin-left:1rem;
    border-radius: 0.2rem;
}
.btnEstado{
    border-radius: 5rem;
    margin-left: 0.3rem;
    margin-right: 0.2rem;
    margin-top:0.1rem;
    padding: 0rem 0.2rem 0rem 0.2rem;
    border:none;
    background-color: rgb(201, 199, 199);
}
.btnCheck:focus{
    background-color:rgb(7, 187, 7);
}
.btnX:focus{
    background-color:rgb(197, 39, 39);
}
.btn.btnDes{
    margin-left:-0.05rem;
}
.btn.btnG{
    margin-top: 1rem;
}

