
:root{
    --main-bg-color: #262727;
    --title: #1CC272;
  }

#infoAlumno1 .icono{
    margin-top: 1.2rem;
    transform: scale(3);
    /* border: 4px solid var(--main-bg-color); */
    border-radius: 50%;
    text-align: center;
}

#contenedor{
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 12rem;
  
}

/* #conten-estadisticas{
    align-items: center;
} */

#infoAlumno1{
    
    width: 30rem;
    height: 23rem;
    text-align: center;
    background: #303030;
    box-shadow: -1.5px -1.5px 4px 0 rgba(99, 99, 99, 1),
    3px 3px 3px 0 rgba(0, 0, 0, 1);

    padding: 30px 20px 20px 40px;
    border-radius: 20px;
    
    margin-right: 3rem;
    
}
#infoAlumno2{
    
    width: 30rem;
    height: 23rem;
    text-align: center;
    background: #303030;
    box-shadow: -1.5px -1.5px 4px 0 rgba(99, 99, 99, 1),
    3px 3px 3px 0 rgba(0, 0, 0, 1);

    padding: 30px 20px 20px 40px;
    border-radius: 20px;
    
    
}
#infoAlumno1, #infoAlumno2 h2{
    font-size: 20px;
}
#infoAlumno1, #inforAlumno2 p{
    font-size: 16px;
}

.datosPersonales{
    margin-top: 1.2rem;
    width: 25rem;
    height: 18rem;
    margin-left: 2rem;
    background-color: white;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    padding: 30px 20px 20px 40px;
    border-radius: 20px;
    z-index: -10;
}

.datosPersonales h1{
    text-align: center;
    font-size: 25px;
    margin-bottom: 1.6rem;
}

.datosPersonales h2{
    font-size: 18px;
    margin-top: 0.9rem;
}

.estadisticasA{
    color: white;
    margin-top: 4rem;
    margin-left: 8rem;
   width: auto;
    height: 30rem;
    padding: 25px 30px 30px 50px;
    border-radius: 20px; 
    margin-bottom: 0.2rem;
    display: flex;
}

.estadisticas h1{

    text-align: justify;
    font-size: 30px;
    margin:  0 0  30px 0;
    color: white;
    font-weight: bold;
    
}

.estadisticas h2{
    font-size: 20px;
    margin: 10px 0;
}
#infoAlumno1, #infoAlumno2 h1{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
#infoAlumno1, #infoAlumno2 h3{
    color: #DFE0DF;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: justify;
}
.nombreA{
    text-align: center;
    color: white;
    margin-top: 1.5rem;
    font-size: 1.8rem;

}
.barNotasA{
    
    background: #303030;
    box-shadow: -1.5px -1.5px 4px 0 rgba(99, 99, 99, 1),
    3px 3px 3px 0 rgba(0, 0, 0, 1);
    border-radius: 20px;
    width: 35rem;
    padding: 2rem;
    margin-top: 6rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-left:-13rem;
    color: white;

}

.pieAprobadoA{
    background: #303030;
    box-shadow: -1.5px -1.5px 4px 0 rgba(99, 99, 99, 1),
    3px 3px 3px 0 rgba(0, 0, 0, 1);
    border-radius: 20px;
    width: 18rem;
    padding: 2rem;
    margin-top: 6rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-left: 4rem;
}



#descripcionText{
    width: 100%;
    background-color: rgba(43, 45, 47, 1);
    color: #DFE0DF;
    height: 8rem;
    border: none !important;
    margin-left: -0.4rem;
    padding: 1.5rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: justify;
}
.campo label{
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 1.1rem;
    display: flex;
    color: black;
    width: 3rem;
    
}
#titleTextA{
    margin-bottom: 1rem;
    margin-top: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width:55%;
    height: 1.7rem;
    color: #DFE0DF;
    background: rgba(43, 45, 47, 1);
    box-shadow: inset -4px -4px 6px 0 rgba(160, 160, 160, 0.13),
    inset 4px 4px 7px 0 rgba(0,0,0, 0.40),
    2px 2px 2px 0 rgba(160, 160, 160, 0.13),
    -1px -1px 2px 0 rgba(0,0,0, 0.40);
    border: none !important;
 
}

.perrito{
    margin-top:-1rem;
    
}
span{
    font-weight: 600;
    margin-left: 0rem;
}
#table h1{
    font-size: 30px;
    margin-left: 8rem;
    color: white;
    font-weight: bold;

}
.tabla.tablaAlum{
    text-align: center;
    background: #303030;
    box-shadow: -1.5px -1.5px 4px 0 rgba(99, 99, 99, 1),
    3px 3px 3px 0 rgba(0, 0, 0, 1);
    border-radius: 20px;
    width: auto;
    padding: 0.2rem;
    padding-right: 4rem;
    padding-bottom: -0.5rem;
    margin-top: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-left:8rem;
    margin-right: 10rem;
    margin-bottom: 12rem;

}
.tabla .btn{
    margin:0.5rem;
    
    
}

.btn.btn-c:hover{
    background-color: black;
}
.btn.btn-c:focus{
    background-color: #3671DC;
}

.btn .btn-primario{
    border-color: transparent;
    
}
.material-icons-info{
    position: relative;
    line-height: -8px;
    color: white;
    margin-bottom: -1rem;
    top:-0.3rem;

}
.material-icons{
    color: white;
}
.btn.btn-e{
    margin-left: 2rem;
    color: #ff7a00;
    transform: scale(1);
}

.btn.btn-a{
    height: 2.3rem;
}

.campo{
    display: flex;
    height: 3rem;
    
}
.material-icons-infom{
    color: white;
}

