
.tablaAlumno{
    background: #303030;
    box-shadow: -1.5px -1.5px 4px 0 rgba(99, 99, 99, 1),
    3px 3px 3px 0 rgba(0, 0, 0, 1);
    border-radius: 0.5rem;
    color: white;
    text-align: center;
    
}
.reuniones{
    margin-left: 10rem;
}

.reuniones h3{
    color: white;
    margin: 20px;
}



.fila{
    display: flex;
    font-size: 15px;
    border-color: black;
}

.fecha{
    width: 10%;
    border: 0.5px solid rgb(0, 0, 0, 0.2);
    padding: 5px 10px;
    align-items: center;
}

.hora{
    width: 6%;
    border: 0.5px solid rgb(0, 0, 0, 0.2);
    padding: 5px 3px;
    align-items: center;
}

.alumno{
    width: 30%;
    border: 0.5px solid rgb(0, 0, 0, 0.2);
    padding: 5px 3px;
    align-items: center;
}

.asistencia{
    width: 10%;
    border: 0.5px solid rgb(0, 0, 0, 0.2);
    padding: 5px 3px;
    align-items: center;
}

.asistencia .presente{
    color: rgb(1, 112, 1);
}

.asistencia .ausente{
    color: rgb(136, 0, 0);
}

.asistencia .btnAsist{
    background: none;
    border: none;
    margin: 0px 10px;
    transform: scale(1.5);
}

.valoracion{
    width: 14%;
    border: 0.5px solid rgb(0, 0, 0, 0.2);
    padding: 5px 3px;
    align-items: center;
}

.valoracion .stars{
    background: none;
    border: none;
    margin: 0px 2px;
    transform: scale(1.2);
}

.valoracion .noStars{
    background: none;
    border: none;
    margin: 0px 2px;
    transform: scale(1.2);
    color: gray;
}

.valoracion .color{
    color: rgb(255, 207, 47);
}

.valoracion .stars:hover{
    transform: scale(1.3);
}

.comentarios{
    width: 30%;
    border: 0.5px solid rgb(0, 0, 0, 0.2);
    padding: 5px 3px;
}
