.reuniones{
    margin-left: 10rem;
}

.reuniones h3{
    color: white;
    margin: 20px;
}

.tablaAlum{
    color: white;
    background: #303030;
    box-shadow: -1.5px -1.5px 4px 0 rgba(99, 99, 99, 1),
    3px 3px 3px 0 rgba(0, 0, 0, 1);
    border-radius: 20px;
    padding: 15px;
    text-align: center;
}

.fila{
    display: flex;
    font-size: 15px;
    border-color: white;
}

.fecha{
    width: 10%;
    border: 0.5px ;
    border-style: solid;
    border-color: white;
    padding: 5px 10px;
}

.hora{
    width: 6%;
    border: 0.5px;
    border-style: solid;
    border-color: white;
    padding: 5px 3px;
}

.alumno{
    width: 30%;
    border: 0.5px;
    border-style: solid;
    border-color: white;
    padding: 5px 3px;
}

.asistencia{
    width: 10%;
    border: 0.5px;
    border-style: solid;
    border-color: white;
    padding: 5px 3px;
}

.asistencia .presente{
    color: rgb(1, 112, 1);
}

.asistencia .ausente{
    color: rgb(136, 0, 0);
}

.asistencia .btnAsist{
    background: none;
    border: none;
    margin: 0px 10px;
    transform: scale(1.5);
}

.asistencia .btnAsist:hover{
    transform: scale(1.6);
}

.valoracion{
    width: 14%;
    border: 0.5px;
    border-style: solid;
    border-color: white;
    padding: 5px 3px;
}

.valoracion .stars{
    background: none;
    border: none;
    margin: 0px 2px;
    transform: scale(1.2);
}

.valoracion .color{
    color: rgb(255, 207, 47);
}


.comentarios{
    width: 30%;
    border: 0.5px;
    border-style: solid;
    border-color: white;
    padding: 5px 3px;
}

.comentarios button{
    background: #1f327c;
    padding: 3px 10px;
    border: none;
    border-radius: 3px;
    color: #fff;
}

.comentarios button:hover{
    background: black;
    transform: scale(1.05);
}

.children{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    column-gap: -3rem;
    align-items: "center";
    
}
.childrenC{
    display: "flex";
    flex-direction: "column";
    align-items: "center";
}

.children .fecha{
    width: 15rem;
    margin-right: 1rem;
}

.children .hora{
    width: 8rem;
}

.children .alumnado{
    width: 10rem;
}
.children textarea{
    margin-bottom: 10px;
}


.children button{
    
    margin-top: 1.5rem;
    width: 7rem;
    background: #1f327c;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.children button:hover{
    background: black;
    transform: scale(0.95);
}

.addReu{
    font-size: 15px;
    width: 30%;
    border: 0.5px solid rgb(0, 0, 0, 0.2);
    padding: 5px 3px;
}

.addReu button{
    background: #1f327c;
    padding: 3px 10px;
    border: none;
    border-radius: 3px;
    color: #fff;
}
