@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
p{
    font-family: 'Exo 2', sans-serif;    
}
h5{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    
}
.btn{
    font-weight: 650;
    background: #121212;
box-shadow:   -2px -2px 4px rgba(255, 255, 255, 0.05),
0 0 10px 10px rgba(255, 255, 255, 0.005),
2px 2px 8px rgba(60, 60, 60, 0.1);
    margin-bottom: -2.85rem;
    place-items: center;
    
}
.btn:hover{
    cursor: pointer;
    background: #293846;
}