@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
p{
    font-family: 'Exo 2', sans-serif;    
}
h5{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    
}
.btn{
    font-weight: 650;
    background: rgba(43, 45, 47, 1);
    box-shadow: -3px -3px 3px 0 rgba(255, 255, 255, 0.04),
    5px 5px 5px 0 rgba(0, 0, 0, 2);

    margin-bottom: -2.85rem;
    place-items: center;
    
}
.btn:hover{
    cursor: pointer;
    background: #293846;
}