.question-card{
    min-width: 0;
    width: 60rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    text-align: center;
}

.question .text-danger{
    font-size: 28px;
}

label{
    margin: 10px 10px 5px 0;
    display: block;
    font-size: 28px;
}